[[redirects]]
  from = "/api/*"
  to = "https://dl0h2mom71.execute-api.eu-north-1.amazonaws.com/prod/api/:splat"
  status = 200
  force = true
  headers = {X-From = "Netlify"}

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[[headers]]
  for = "/api/*"
  [headers.values]
    Access-Control-Allow-Credentials = "true"
