@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import './skeletons.css';

:root {
  /* Dark mode */
  --bg-main: #0f1419;
  --bg-secondary: #16181c;
  --bg-accent: #1d1f23;
  --bg-card: #202225;
  --text-primary: #e7e9ea;
  --text-secondary: #8b8b8b;
  --border-color: #2f3336;
  --accent: #1d9bf0;
  --error: #ff4c4c;
  --bg-hover: #1a1d21;
  --bg-hover-strong: #22262b;

  /* Typography */
  --font-size-base: 1rem;
  --font-size-small: 0.9rem;
  --font-size-large: 1.1rem;
  --font-family: "Poppins", sans-serif;

  /* Layout sizing */
  --sidebar-width: 240px;
  --navbar-height: 64px;

  /* Shadows */
  --shadow-soft: 0 4px 12px rgba(0, 0, 0, 0.3);
  --shadow-hard: 0 4px 16px rgba(0, 0, 0, 0.6);

}

/* Light theme  */
[data-theme="light"] {
  --bg-main: #ffffff;
  --bg-secondary: #f4f4f4;
  --bg-accent: #e9e9e9;
  --bg-card: #fdfdfd;
  --text-primary: #0f1419;
  --text-secondary: #444;
  --border-color: #d0d0d0;
  --accent: #0077ff;
  --error: #d12c2c;
  --shadow-soft: 0;
  --shadow-hard: 0;
  --bg-hover: #e0e0e0;
  --bg-hover-strong: #d2d2d2;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: var(--bg-main);
  color: var(--text-primary);
  font-family: var(--font-family), serif;
  font-size: var(--font-size-base);
}
.post-content p {
  font-size: var(--font-size-base);
}

.sidebar li {
  font-size: var(--font-size-base);
}

.profile-info h2 {
  font-size: calc(var(--font-size-base) * 1.25);
}

.username {
  font-size: calc(var(--font-size-base) * 0.85);
}
