


.center-wrapper {
    display: flex;
    flex: 1;
    gap: 16px;
    align-items: flex-start;
    padding: 16px 0;
    box-sizing: border-box;

}

.feed-wrapper {
    flex: 1;
    max-width: 600px;


}