
.main-layout {
    background-color: var(--bg-main, #0f1419);
    color: var(--text-primary, #e7e9ea);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: var(--font-family), serif;
}

.main-content {
    display: flex;
    width: 100%;
    margin-top: 600px;
    /*still havent figured wtf to do with the margin when it has a hard time telling images apart*/
    box-sizing: border-box;
}

.feed-trending-wrapper {
    display: flex;
    flex: 1;
    gap: 16px;
    align-items: flex-start;
    padding: 16px 20px;
    box-sizing: border-box;
    justify-content: center;
}

.feed-wrapper {
    flex: 1;
    max-width: 600px;
    width: 100%;
    box-sizing: border-box;
}
