.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 240px;
    background-color: #121417;
    color: #e7e9ea;
    padding-top: 10px;
    overflow-y: auto;
    font-family: 'Poppins', sans-serif;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    display: flex;
    align-items: center;
    padding: 14px 20px;
    gap: 12px;
    cursor: pointer;
    transition: background 0.2s;
}


.sidebar.closed {
    transform: translateX(-100%);
}

.sidebar li:hover {
    background-color: #1d1f23;
}

.sidebar .icon {
    font-size: 1.2rem;
    min-width: 20px;
}

.sidebar-toggle {
    position: fixed;
    top: 15px;
    left: 10px;
    background-color: #0f1419;
    color: #e7e9ea;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    z-index: 1001;
}

.sidebar::-webkit-scrollbar {
    width: 3px;
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: #2f3336;
    border-radius: 8px;
}

.sidebar::-webkit-scrollbar-track {
    background: transparent;
}

.sidebar {
    scrollbar-width: thin;
    scrollbar-color: #2f3336 transparent;
}

