.termins-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-primary);
    background-color: var(--bg-main);
    min-height:calc(100vh - 500px) ;
    font-family: var(--font-family), serif;

}

.termins-title {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 600;
    color: var(--text-primary);
}

.calendar-section {
    background-color: var(--bg-secondary);
    border-radius: 12px;
    padding: 16px;
    margin-bottom: 20px;
    box-shadow: var(--shadow-soft);
}

.react-calendar {
    width: 320px;
    background-color: transparent;
    border: none;
    color: var(--text-primary);
}

.react-calendar__tile {
    background-color: var(--bg-secondary);
    color: var(--text-primary);
    border-radius: 8px;
}

.react-calendar__tile:hover {
    background-color: var(--bg-hover);
    color: var(--text-primary);
}

.react-calendar__navigation__label{
    color: var(--text-primary);
}
.react-calendar__navigation__arrow {
    color: var(--text-primary);
}

.react-calendar__tile--now {
    background-color: #2563eb;
    color: white;
}

.react-calendar__tile--active {
    background-color: #22c55e;
    color: white;
}

.event-panel {
    background-color: var(--bg-secondary);
    border-radius: 12px;
    padding: 20px;
    width: 360px;
    box-shadow: var(--shadow-soft);
}

.highlight {
    color: #22c55e;
    font-weight: 600;
}

.event-list {
    margin: 10px 0;
}

.event-item {
    background-color: var(--bg-main);
    padding: 8px 12px;
    border-radius: 8px;
    margin-bottom: 8px;
}

.no-events {
    color: var(--text-secondary);
    font-style: italic;
}

.add-event {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.add-event input {
    background-color: var(--bg-main);
    color: var(--text-primary);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 8px;
    outline: none;
}

.add-event button {
    background-color: var(--accent);
    border: none;
    color: white;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s;
}

.add-event button:hover {
    background-color: color-mix(in srgb, var(--accent) 85%, #000);
}
