.termins-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #e7e9ea;
    background-color: #0f1419;
    min-height:calc(100vh - 500px) ;

    font-family: "Poppins", sans-serif;

}

.termins-title {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 600;
    color: #e7e9ea;
}

.calendar-section {
    background-color: #1a1e22;
    border-radius: 12px;
    padding: 16px;
    margin-bottom: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}

.react-calendar {
    width: 320px;
    background-color: transparent;
    border: none;
    color: #e7e9ea;
}

.react-calendar__tile {
    background-color: #1a1e22;
    color: #e7e9ea;
    border-radius: 8px;
}

.react-calendar__navigation__label{
    color: #e7e9ea;
}
.react-calendar__navigation__arrow {
    color: #e7e9ea;
}

.react-calendar__tile--now {
    background-color: #2563eb;
    color: white;
}

.react-calendar__tile--active {
    background-color: #22c55e;
    color: white;
}

.event-panel {
    background-color: #1a1e22;
    border-radius: 12px;
    padding: 20px;
    width: 360px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.highlight {
    color: #22c55e;
    font-weight: 600;
}

.event-list {
    margin: 10px 0 20px;
}

.event-item {
    background-color: #0f1419;
    padding: 8px 12px;
    border-radius: 8px;
    margin-bottom: 8px;
}

.no-events {
    color: #aab0b6;
    font-style: italic;
}

.add-event {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.add-event input {
    background-color: #0f1419;
    color: #e7e9ea;
    border: 1px solid #2f3336;
    border-radius: 8px;
    padding: 8px;
    outline: none;
}

.add-event button {
    background-color: #2563eb;
    border: none;
    color: white;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s;
}

.add-event button:hover {
    background-color: #1d4ed8;
}
