.project-members-panel {
    background-color: #0f1419;
    border: 2px solid #1f2933;
    border-radius: 24px;
    padding: 48px;
    width: 430px;
    color: #e7e9ea;
    font-family: "Poppins", sans-serif;
    margin-top: 420px;
    margin-left: 50px;
}
.members-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
}

.member-header {
    display: flex;
    align-items: center; /* kropka i imię w jednej linii */
    gap: 8px;
}