.users-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 600px;
    margin-top: var(--navbar-height);
    padding: 20px;
}
.user-row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background: var(--bg-secondary);
    padding: 10px 14px;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 350px;
}

.add-btn {
    background: var(--bg-hover);
    border: 1px solid var(--border-color);
    color: var(--text-primary);
    padding: 6px 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
}

.add-btn:hover {
    background: var(--bg-hover-strong);
}