.project-members-panel {
    background-color: var(--bg-main);
    border: 2px solid var(--border-color);
    border-radius: 24px;
    padding: 48px;
    width: 430px;
    color: var(--text-primary);
    font-family: var(--font-family), serif;
    margin-top: 420px;
    margin-left: 50px;
}
.members-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
}

.member-header {
    display: flex;
    align-items: center; /* kropka i imię w jednej linii */
    gap: 8px;
}